@font-face {
    src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
    font-family: roboto;
}

.font-large {
    font-size: 20px;
}

.font-regular {
    font-size: 14px;
}

.font-medium {
    font-size: 16px;
}

.font-small {
    font-size: 10px;
}

$color-green : #4ea91f;
$color-purple : #8560d9;
$color-grey: #555;
$color-light-grey:#d2cfcf;

$line-height : 1.5em;

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: roboto, sans-serif;
    line-height: $line-height;
    @extend .font-regular;
}

.color-purple {
    color: $color-purple;
}

.color-grey {
    color: $color-grey;
}

.color-green {
    color: $color-green;
}

.bold {
    font-weight: bold;
}

.truncate-overflow {
    position: relative;
    max-height: calc(#{$line-height} * 4);
    overflow: hidden;

    &::before {
        position: absolute;
        content: "...";
        bottom: 0;
        right: 0;
        background-color: #fff;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 1rem;
        height: 1rem;
        background: #fff;
    }
}

.btn-primary {
    background-color: $color-green;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    border-radius: 4px;
    padding: 16px;
    width: 100%;
    @extend %flex-center;
    justify-content: space-around;
    cursor: pointer;
    max-width: 180px;

    &:hover {
        background-color: #888;
    }
}

.card-container {
    margin-top: 60px;
    box-shadow: 0px 0px 2px 2px #eee;
    padding: 20px 0px;

    .card-details {

        display: flex;

        .figure {

            position: relative;

            img {
                width: 100%;
                border-radius: 50%;
                height: 150px;
                width: 150px;
            }

            .favourite {
                position: absolute;
                font-size: 18px;
                color: $color-light-grey;
                border: 2px solid $color-light-grey;
                background-color: #fff;
                padding: 3px 4px;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                margin: auto;
                right: 0px;
                top: 115px;
            }
        }

        .details {
            flex: 1;

            .details-header {
                @extend %flex-center;
                justify-content: space-between;

                .check-icon {
                    display: none;
                }
            }

            .read-more {
                text-align: right;
            }
        }
    }

    .card-reviews-ratings {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 16px;

        &>div {
            padding-left: 20px;
            text-align: right;
        }
    }

    .card-actions {
        margin-top: 16px;

        .free-badge {
            font-size: 12px;
            font-weight: bold;
            padding: 2px 8px;
            background-color: $color-purple;
            color: #fff;
            border-radius: 4px;
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                right: 0px;
                background-color: #fff;
                height: 0px;
                top: 0px;
                width: 0px;
                border: 11px solid $color-purple;
                border-right-color: #fff;
            }
        }

        .charge {
            text-align: center;
            padding-top: 4px;
        }
    }
}

// For Tablet and Desktop
@media (min-width: 768px) {
    .font-large {
        font-size: 24px;
    }

    .font-small {
        font-size: 12px;
    }

    .font-regular {
        font-size: 16px;
    }

    .font-medium {
        font-size: 20px;
    }

    .card-container {

        .card-details {
            .details {
                .details-header {
                    .check-icon {
                        display: block;
                    }
                }

                .read-more {
                    text-align: left;
                }
            }
        }

        .card-reviews-ratings {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 0px;

            .rating {
                order: 1;
            }

            &>div {
                text-align: left;
                min-width: 150px;
            }
        }

        .card-actions {

            margin-top: 0px;

            .row {
                &>div:not(:first-child) {
                    margin-top: 16px;
                }
            }

            .free-badge {
                padding: 0px;
                background-color: inherit;
                color: $color-purple;

                &::after {
                    content: none;
                }
            }

            .charge {
                text-align: left;
            }
        }
    }
}

//For All Mobile Devices
@media (max-width : 767px) {
    .card-container {
        .card-actions {

            .row {
                &>div:not(:first-child) {
                    padding-left: 16px;
                }
            }
        }
    }
}

// Only for Tablet Devices
@media (min-width : 768px) and (max-width : 991px) {
    .font-large {
        font-size: 24px;
    }

    .font-small {
        font-size: 12px;
    }

    .font-regular {
        font-size: 16px;
    }

    .card-container {
        .card-actions {
            .btn-primary {
                padding: 8px 12px;
            }
        }
    }
}

// For Low resolution tablets and mobile portrait
@media (min-width : 576px) and (max-width : 767px) {
    .card-container {
        .card-reviews-ratings {

            &>div {
                text-align: right;
                min-width: 150px;
            }
        }
    }
}

// For medium resolution mobiles
@media (min-width : 320px) and (max-width : 575px) {
    .font-large {
        font-size: 18px;
    }
}

//Low resolution mobile phones
@media (max-width : 319px) {
    .font-large {
        font-size: 16px;
    }

    .font-small {
        font-size: 8px;
    }

    .font-regular {
        font-size: 10px;
    }

    .font-medium {
        font-size: 12px;
    }
}